/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */
/* line 19, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.fluidbox__overlay {
  min-height: 600px;
}

/* line 23, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.store-btn img:hover {
  opacity: 0.6;
}

/* line 27, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.opacity-hover:hover {
  opacity: 0.9;
  filter: grayscale(0);
}

/* line 32, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.opacity-hover {
  opacity: 0.4;
  filter: grayscale(1);
}

/* line 37, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .phone {
  width: 275px;
  height: 561px;
  margin: 0 auto 2em auto;
  background: url(/assets/landing/iphone6.png) no-repeat;
}

/* line 42, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .divider {
  margin: 0;
  background-color: rgba(229, 229, 232, 0.3);
}

/* line 45, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .blurb {
  letter-spacing: 0.05em;
  font-weight: 200;
}

/* line 48, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .blurb .appstore-btn img {
  width: 166px;
  height: 48px;
  margin: 1em 0 1em 0;
}

/* line 52, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow {
  position: relative;
  left: 18px;
  top: 67px;
  width: 240px;
  height: 426px;
  overflow: hidden;
}

/* line 59, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow img {
  width: 239px;
}

/* line 61, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow > * {
  position: absolute;
  z-index: 1;
  display: none;
  width: 239px;
  height: 426px;
}

/* line 67, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow > *:first-child {
  display: block;
}

/* line 69, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow .slide img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 239px;
  height: 426px;
}

/* line 76, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow .slide img.gif-indicator {
  top: 368px;
  width: 70px;
  height: 3px;
}

/* line 80, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow .slide img.gif-01 {
  top: 28px;
  height: 343px;
}

/* line 83, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow .slide img.gif-03 {
  top: 27px;
  height: 234px;
}

/* line 86, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow .slide img.gif-04a {
  top: 66px;
  height: 241px;
}

/* line 89, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.home .slideshow .slide img.gif-04b {
  top: 307px;
  height: 87px;
}

/* line 96, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.browser {
  background: #e9edf0 url(/assets/landing/buttons.svg) no-repeat 7px 7px;
  padding-top: 5px;
  border: 1px solid #dbe0e3;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  max-width: 100%;
}

/* line 107, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 115, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 123, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.rotate90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 131, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.b-h1 .landing-title {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 200;
}

/* line 137, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.landing-title {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 200;
}

/* line 143, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.pt-10 {
  padding-top: 10px;
}

/* line 147, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.pl-25 {
  padding-left: 25px;
}

/* line 151, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.placeholder-color {
  color: #736b6b;
}

/* line 155, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.modal-position-land {
  position: relative;
  top: 200px;
  left: 40%;
}

/* line 161, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.laptop-btn-position {
  position: absolute;
  top: 40%;
  left: 25%;
  right: 25%;
  z-index: 20;
}

/* line 169, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.form-paper-position {
  width: 53%;
  height: 290px;
}

/* E-commerce */
/* line 175, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-box {
  padding: 0;
  border: 1px solid #e7eaec;
}

/* line 179, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}

/* line 186, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-imitation {
  text-align: center;
  padding: 90px 0;
  background-color: #f8f8f9;
  color: #bebec3;
  font-weight: 600;
}

/* line 193, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}

/* line 200, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-imitation.xl {
  padding: 120px 0;
}

/* line 203, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-desc {
  padding: 20px;
  position: relative;
}

/* line 207, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.ecommerce .tag-list {
  padding: 0;
}

/* line 210, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.ecommerce .fa-star {
  color: #d1dade;
}

/* line 213, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.ecommerce .fa-star.active {
  color: #f8ac59;
}

/* line 216, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}

/* line 219, /app/app/assets/stylesheets/landing/application_landing.css.scss */
table.shoping-cart-table {
  margin-bottom: 0;
}

/* line 222, /app/app/assets/stylesheets/landing/application_landing.css.scss */
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}

/* line 226, /app/app/assets/stylesheets/landing/application_landing.css.scss */
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}

/* line 230, /app/app/assets/stylesheets/landing/application_landing.css.scss */
table.shoping-cart-table tr td:last-child {
  width: 80px;
}

/* line 233, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}

/* line 240, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}

/* line 244, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1ab394;
  padding: 6px 12px;
  position: absolute;
  top: -32px;
  right: 0;
}

/* line 254, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-detail .ibox-content {
  padding: 30px 30px 50px 30px;
}

/* line 257, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: 200px 0;
}

/* line 262, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-main-price small {
  font-size: 10px;
}

/* line 265, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.product-images {
  margin: 0 20px;
}

/* line 269, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.shadow-double {
  box-shadow: 0 15px 20px -10px rgba(32, 51, 70, 0.3), 0 0px 30px 0px rgba(32, 51, 70, 0.2);
}

/* line 273, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.border-curved {
  border-radius: 5px;
}

/* line 277, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.grey-border {
  border: solid 1px #e6e6e8;
}

/* line 281, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.nav-pills-border li {
  border: #80808036 1px solid;
  border-radius: 5px;
  min-height: 120px;
}

/* line 287, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.nav-pills-border a {
  min-height: 120px;
}

/* line 291, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.or-seperator {
  margin: 20px 0 10px;
  text-align: center;
  border-top: 1px solid #ccc;
}

/* line 296, /app/app/assets/stylesheets/landing/application_landing.css.scss */
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}

@media (max-width: 767px) {
  /* line 305, /app/app/assets/stylesheets/landing/application_landing.css.scss */
  .wrapper-content .nav > li > a {
    padding: 5px 5px 5px 5px !important;
  }

  /* line 310, /app/app/assets/stylesheets/landing/application_landing.css.scss */
  .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    max-width: 120px !important;
    min-width: 120px;
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important;
  }

  /* line 318, /app/app/assets/stylesheets/landing/application_landing.css.scss */
  .col-xs-6 {
    padding-right: 2px !important;
    padding-left: 2px !important;
  }
}
/* line 324, /app/app/assets/stylesheets/landing/application_landing.css.scss */
#videoModal .modal-backdrop {
  position: absolute;
  height: 100% !important;
  min-height: 900px;
  width: 100% !important;
  z-index: 2040 !important;
  background: #00000047;
}
